@model EventBooking.Controllers.ViewModels.LoginModel

@{
    ViewBag.Title = "Checkpoint";
}

<h2>Checkpoint</h2>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-error">@Model.ErrorMessage</div>
}

@using (Html.BeginForm("LogIn", "Security", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LoginModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectronicMailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectronicMailAddress)
            @Html.ValidationMessageFor(model => model.ElectronicMailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Logga in" />
        </p>
    </fieldset>
    @Html.HiddenFor(m => m.ReturnUrl)
}

<div>
    @Html.ActionLink("Back to List", "Checkpoint")
</div>