@using EventBooking.Data    
@model EventBooking.Controllers.ViewModels.LandingPageModel

@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
    ViewBag.Title = "Team Rynkeby | Kommande aktiviter";
}

<div id="banner">
    <div id="expo">

        <div id="banner-info">
            <h3>Team Rynkeby</h3>
            <h3 class="hidden-phone">Kommande aktiviteter</h3>
            <h3 class="visible-phone">Vi kämpar för livet</h3>

            <ul class="hidden-phone">
                @foreach (var activity in Model.Activities)
                {
                    <li>
                        <a href="@Url.Action("Details", "Activity", new { id = activity.Id })">
                            <span class="header-label label-city">@activity.OrganizingTeam.Name</span><br />
                            <span class="header-label label-name rotate-right">@activity.Name</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span6">
            <h3>Kommande aktiviteter</h3>
            
            <div class="landing-page-select-team">
                @if (this.Model.IsNobody)
                {
                    <button class="btn btn-mini btn-success btn-select-all-teams" type="button"  data-team-id="-1">Alla</button>

                    foreach (var team in Model.Teams)
                    {
                        <button class="btn btn-mini btn-select-team" type="button" data-team-id="@team.Id">@team.Name</button>
                    }

                }
            </div>
            

            <div class="upcoming-activity-list" data-update-uri="http://localhost:49385/Activity/Upcoming">
                @Html.Action("Upcoming", "Activity")
            </div>
            <a href="#" class="previous-activities-list-command">Föregående</a>
            <a href="#" class="next-activities-list-command">Nästa</a>

        </div>
        <div class="span6">
            <h2>Team Rynkeby</h2>
            <p class="">
                Team Rynkeby är ett nordiskt välgörenhetsinitiativ som syftar till att samla in pengar till Barncancerfonden i Sverige, Sylva i Finland och Børnecancerfonden i Danmark.
            </p>
            <p>
                Varje sommar i juli cyklar 1.000 personer från Sverige, Finland och Danmark till Paris för att stödja barn med cancer och deras familjer. Under året deltar cyklister i olika team för att samla in sponsorpengar och arrangera olika events. Under året tränar även de olika teamen tillsammans som förberedelse inför cykelloppet till Paris.
            </p>
            <p>
                Deltagarna i Team Rynkeby är motionscyklister, kvinnor och män, i alla åldrar med vitt skilda yrken, utbildningar och bakgrund. Deltagarnas olikheter och deras geografiska spridning i Sverige, Finland og Danmark gör det lättare för Team Rynkeby att sprida budskapet om insamlingen för barn med cancer och deras familjer.
            </p>
            <p>
                2012 samlade Team Rynkeby in 18 Mkr i kampen mot barncancer.
            </p>
        </div>
    </div>
</div>
@section scripts {
   
    (function(intiUpcomingEventsUpdate, $, undefined) {
    
    var upcomingEventsModule =  teamrynkebyse.upcomingEvents;
    
    upcomingEventsModule.init($('.previous-activities-list-command'), $('.next-activities-list-command'), $('.upcoming-activity-list'));
    
    
    upcomingEventsModule.setTeamButtons($(".btn-select-team"),  (".btn-select-all-teams"));
    
        
    
    }(teamrynkebyse.intiUpcomingEventsUpdate, jQuery));
}
