@using EventBooking.Controllers.ViewModels
@model EventBooking.Controllers.ViewModels.TeamActivitiesModel

@{
    ViewBag.Title = "Team " + Model.Name;
}

<div class="page-header">
    <h1>@Model.Name</h1>
</div>

<div class="row">
    <div class="span8">
             <div class="page-header">
                        <h3>Lagets aktiviteter</h3>
                    </div>
        <div class="row">
            @foreach (var eventGroup in Model.Activities)
            {

                <div class="span4">
                    <small><b>@eventGroup.Key</b></small>
                    <p>
                        <ul>
                            @foreach (var e in eventGroup)
                            {

                                <li>
                                    <a href="@Url.Action("Details", "Activity", new { @e.Id })" class="link" rel="tooltip" data-original-title="@e.Description">
                                        <span class="badge @Html.BadgeColorPicker(@e.Type)">@e.Date.DayOfWeek @e.Date.Day</span>
                                        @e.Name
                                    </a>
                                </li>
                        }
                        </ul>
                    </p>
                </div>
        
            }

        </div>
        <div class="row">
            <div class="span8">
                <ul class="pager">
                    <li class="previous">@Html.ActionLink("Tidigare", "Details", "Team", new { }, new { @class = "prev" })</li>
                    <li class="next">@Html.ActionLink("Senare", "Details", new { }, new { @class = "next" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="page-header">
            <h3>Mina aktiviteter</h3>
        </div>
        <small><b>&nbsp;</b></small>
        <p>
            <ul>
                @foreach (var e in Model.MyActivites)
                {

                    <li>
                        <a href="@Url.Action("Details", "Activity", new { @e.Id })" class="link" rel="tooltip" data-original-title="@e.Description">
                            <span class="badge @Html.BadgeColorPicker(@e.Type)">@e.Date.ToSwedishShortDateString()</span>
                            @e.Name
                        </a>
                        <a href="@Url.Action("Details", "Activity", new { @e.Id })" class="link" >
                            <span class="icon icon-thumbs-down"></span>

                        </a>
                        @if (e.Coordinator.Email == User.Identity.Name)
                        {
                            <a href="@Url.Action("Details", "Activity", new { @e.Id })" class="link">
                                <span class="icon icon-pencil"></span>
                            </a>
                                }
                    </li>
                        }
            </ul>
        </p>
    </div>
</div>




