@using System.Globalization
@model EventBooking.Controllers.ViewModels.MyProfileModel

@{
    ViewBag.Title = "Berätta mer om dig själv";
}

<div class="page-header">
   <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("MyProfile", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
@*Html.ValidationSummary()*@
    
    <div class="control-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Namn" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.StreetAddress, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StreetAddress, new { placeholder = "Gatuadress" })
            @Html.ValidationMessageFor(m => m.StreetAddress)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.ZipCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ZipCode, new { placeholder = "222 33" })
            @Html.ValidationMessageFor(m => m.ZipCode)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.City, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.City, new { placeholder = "Ort" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Cellphone, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Cellphone, new { placeholder = "Mobiltelefon" })
            @Html.ValidationMessageFor(m => m.Cellphone)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Birthdate, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Birthdate, "{0:yyyy-MM-dd}", new { placeholder = "YYYY-MM-DD" })
            @Html.ValidationMessageFor(m => m.Birthdate)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Team, new { @class = "control-label" })
        <div class="controls">
            @if (Model.Team != null && Model.Team.Name != null)
            {
                @Html.DropDownListFor(m => m.Team.Id, new SelectList(new[] { Model.Team }, "Id", "Name"), new { @readonly = "true" })
            }
            else
            {
                @Html.DropDownListFor(m => m.Team.Id, new SelectList(Model.Teams, "Id", "Name"))
            }
            @Html.ValidationMessageFor(m => m.Team)
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Spara</button>
        </div>
    </div>
}