@using EventBooking.Controllers.ViewModels
@model EventBooking.Controllers.ViewModels.CreateActivityModel

@{
    ViewBag.Title = "Skapa event";
}

<h2>@ViewBag.Title</h2>

@using ( Html.BeginForm( "Create", "Activity", FormMethod.Post, new { @class = "form-horizontal" } ) )
{
    <div class="control-group">
        @Html.LabelFor( m => m.Name, new { @class = "control-label" } )
        <div class="controls">
            @Html.TextBoxFor( m => m.Name, new { placeholder = "Rubrik" } )
            @Html.ValidationMessageFor( m => m.Name )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Description, new { @class = "control-label" } )
        <div class="controls">
            @Html.TextAreaFor( m => m.Description, new { placeholder = "Beskrivning" } )
            @Html.ValidationMessageFor( m => m.Description )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Summary, new { @class = "control-label" } )
        <div class="controls">
            @Html.TextAreaFor( m => m.Summary, new { placeholder = "Mer information" } )
            @Html.ValidationMessageFor( m => m.Summary )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Type, new { @class = "control-label" } )
        <div class="controls">
            @Html.RadioButtonForEnum( m => m.Type )
            @Html.ValidationMessageFor( m => m.Type )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Date, new { @class = "control-label" } )
        <div class="controls">
            @Html.TextBoxFor( m => m.Date, new { placeholder = "Datum", @class = "datepicker" } )
            @Html.ValidationMessageFor( m => m.Date )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Session.FromTime, new { @class = "control-label" } )
        <div class="controls">
            <div class="input-append bootstrap-timepicker">
                @Html.TextBoxFor( m => m.Session.FromTime, new { placeholder = "Start", @class = "timepicker input-small" } )
                <span class="add-on"><i class="icon-time"></i></span>
            </div>
            @Html.ValidationMessageFor( m => m.Session.FromTime )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Session.ToTime, new { @class = "control-label" } )
        <div class="controls">
            <div class="input-append bootstrap-timepicker">
                @Html.TextBoxFor( m => m.Session.ToTime, new { placeholder = "Slut", @class = "timepicker input-small" } )
                <span class="add-on"><i class="icon-time"></i></span>
            </div>
            @Html.ValidationMessageFor( m => m.Session.ToTime )
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor( m => m.Session.VolunteersNeeded, new { @class = "control-label" } )
        <div class="controls">
            @Html.TextBoxFor( m => m.Session.VolunteersNeeded, new { type="number", placeholder = "Deltagare", min="0", max="200" } )
            @Html.ValidationMessageFor( m => m.Session.VolunteersNeeded )
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Skapa event</button>
        </div>
    </div>
}