@using System.Web.Optimization
@model IQueryable<EventBooking.Data.Entities.ActivityItemTemplate>

@{
    ViewBag.Title = "Skapa aktivitet";
}

@section Styles
{
    @Styles.Render("~/Styles/CreateEvent")
}

@section Scripts
{
    @Scripts.Render("~/Scripts/CreateEvent")

    <script id="sessionTemplate" type="text/html">
        <div class="sessionRow">
            <div class="bootstrap-timepicker input-append">
                <input type="text" name="sessions[{{index}}].fromTime" value="{{fromTime}}" class="timepicker input-mini" />
                <span class="add-on"><i class="icon-time"></i></span>
            </div>


            <div class="bootstrap-timepicker input-append">
                <input type="text" name="sessions[{{index}}].toTime" value="{{toTime}}" class="timepicker input-mini" />
                <span class="add-on"><i class="icon-time"></i></span>
            </div>

            <div>
                <input type="number" name="sessions[{{index}}].volunteersNeeded" class="input-mini" min="1" value="{{volunteersNeeded}}" />
            </div>
            <a id="removeSession_{{index}}" href="#" class="undo"><i class="icon-remove"></i>Ta bort</a>
        </div>
    </script>

    <script id="itemsTemplate" type="text/html">
        <div>
            <div>
                <select name="items[{{index}}].name">
                    <option value="Ospecificerat">Välj materiel</option>

                    @foreach (var item in Model)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }

                </select>
            </div>

            <div>
                <input name="items[{{index}}].quantity" type="number" class="input-mini" value="1" min="1" />
            </div>
            <a id="removeItem_{{index}}" href="#" class="undo"><i class="icon-remove"></i>Ta bort</a>
        </div>
    </script>
    
    <script id="specificItemsTemplate" type="text/html">
        <div>
            <div>
                <input name="items[{{index}}].name" type="text" placeholder="Ange matriel" />
            </div>

            <div>
                <input name="items[{{index}}].quantity" type="number" class="input-mini" value="{{quantity}}" min="1" />
            </div>
            <a id="removeItem_{{index}}" href="#" class="undo"><i class="icon-remove"></i>Ta bort</a>
        </div>
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="span8">
    @using (Html.BeginForm("Create", "Activity", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <ul class="nav nav-pills">
            <li data-wizard-header="pageOne" class="active">
                <a href="#" data-wizard-link="pageOne">1. Beskrivning</a>
            </li>

            <li data-wizard-header="pageTwo">
                <a href="#" data-wizard-link="pageTwo">2. Datum/Tid </a>
            </li>

            <li data-wizard-header="pageThree">
                <a href="#">3. Materiel</a>
            </li>
        </ul>

        /***** PAGE ONE ******************** */
        <div data-wizard-page="pageOne">
            <div class="control-group">
                <label class="control-label">Titel</label>
                <div class="controls">
                    <input name="name" type="text" maxlength="50" placeholder="T.ex. Insamling på T-station" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Publik beskrivning</label>
                <div class="controls">
                    <textarea name="summary" placeholder="Beskrivning som ses av alla"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Intern beskrivning</label>
                <div class="controls">
                    <textarea name="description" placeholder="Beskrivning för medlemmar"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Typ</label>
                <div class="controls">
                    <label class="radio">
                        <input name="type" type="radio" value="Träning" checked="checked" />
                        Träning</label>
                    <label class="radio">
                        <input name="type" type="radio" value="Publikt" />
                        Publikt</label>
                    <label class="radio">
                        <input name="type" type="radio" value="Teammöte" />
                        Teammöte</label>
                    <label class="radio">
                        <input name="type" type="radio" value="Sponsor" />
                        Sponsor</label>
                    <label class="radio">
                        <input name="type" type="radio" value="Preliminärt" />
                        Preliminärt</label>
                </div>
            </div>

            <a href="#" class="btn pull-right btn-primary" data-wizard-link="pageTwo">Nästa</a>
        </div>


        /***** PAGE TWO ******************** */
        <div data-wizard-page="pageTwo">

            <div class="control-group">
                <label class="control-label">Datum</label>
                <div class="controls">
                    <input type="text" name="date" placeholder="Välj datum" class="datepicker" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Tid/Pass</label>

                <div class="controls">
                    <div id="sessionContainer">

                        <div>
                            <p>Börjar</p>
                            <p>Slutar</p>
                            <p>Min. deltagare</p>
                        </div>

                        <div class="sessionRow">
                            <div class="bootstrap-timepicker input-append">
                                <input name="sessions[0].fromTime" value="12:00" type="text" class="timepicker input-mini" />
                                <span class="add-on"><i class="icon-time"></i></span>
                            </div>

                            <div class="bootstrap-timepicker input-append">
                                <input name="sessions[0].toTime" value="14:00" type="text" class="timepicker input-mini" />
                                <span class="add-on"><i class="icon-time"></i></span>
                            </div>

                            <div>
                                <input id="volunteer0" type="number" name="sessions[0].volunteersNeeded" class="input-mini" min="1" value="1" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <a id="addMoreSessions" href="#">Lägg till pass</a>
                    </div>

                    <div id="overlappingWarning" class="alert alert-block" style="display: none">
                        <h3>Regler för pass</h3>
                        <p>
                            Aktiviteten får börja tidigast imorgon.
                        </p>  
                        <p>
                            Pass får inte överlappa varandra.
                        </p>
                        <p>
                            Pass får inte sluta före de börjar.
                        </p>
                         <p>
                            Pass får inte sträcka sig till eller över midnatt.
                        </p>
                         <p>
                            Antal deltagare måste vara över noll.
                        </p>
                    </div>
                </div>
            </div>

            <a href="#" class="btn" data-wizard-link="pageOne">Föregående</a>
            <a href="#" class="btn pull-right btn-primary" data-wizard-link="pageThree">Nästa</a>
        </div>

        /***** PAGE THREE ******************** */
        <div data-wizard-page="pageThree">
            <div class="control-group">
                <label class="control-label">Saker att ha med</label>
                <div class="controls">
                    <div id="itemsContainer">

                        <div>
                            <p>Sak</p>
                            <p>Antal</p>
                        </div>

                       
                    </div>

                    <a id="addMoreItems" href="#">Lägg till sak</a>
                    <a id="addSpecificItem" href="#">Lägg till aktivitets-specifik sak</a>
                </div>
            </div>

            <a href="#" class="btn" data-wizard-link="pageTwo">Föregående</a>
            <button class="btn pull-right btn-warning" type="submit">Skapa</button>
        </div>
    }
</div>
