@using System.Web.Optimization
@model EventBooking.Controllers.ViewModels.DetailActivityViewModel

<div class="row-fluid">
    <div class="page-header">
        <h2>@Model.Name</h2>
    </div>
        
    <h3>@Model.DateFormatted, @Model.OrganizingTeam</h3>
    <p>
        <strong>
            @Model.Summary
        </strong>
    </p>
    @if (@Model.ShouldShowDescription)
    {
    <p>
        @Model.Description
    </p>
    }
    @if (@Model.ShouldShowSessions)
    {
    <h3>Pass</h3>
    <ul>
        @foreach (var session in Model.Sessions)
        {
            <li><span>@session.FromTimeFormatted - @session.ToTimeFormatted</span>
                @if (session.CanSignUp)
                {
                    <a href="@Url.Action("SignUp", "Sessions", new {sessionId = session.Id})" class="link">Anmäl mig!</a>
                    <text>Antal platser kvar:</text>
                    @session.AvailablePlaces
                }
                else if (session.CanLeave)
                {
                    <a href="@Url.Action("Leave", "Sessions", new {activityId = Model.Id})" class="link">Ta bort mig!</a>
                    <text>Antal platser kvar:</text>
                    @session.AvailablePlaces
                }
                else
                {
                    <text>Antal platser kvar:</text>
                    @session.AvailablePlaces
                }
            </li>            
        }
    </ul>
    }
    
    @if (@Model.ShouldShowItems)
    {
    <h3>Matriel</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li><span>@item.Name</span>
                
            </li>            
        }
    </ul>
    }

    <a href="javascript:history.back()">Tillbaka</a>
</div>
