@using EventBooking.Data.Entities
@model EventBooking.Controllers.ViewModels.EditActivityViewModel

@{
    ViewBag.Title = "EditActivity";
}


@*@Html.HiddenFor(m => m.Activity.Coordinator)
    @Html.HiddenFor(m => m.Activity.Date)
    @Html.HiddenFor(m => m.Activity.OrganizingTeam)
    
    @Html.LabelFor(m => m.Activity.Id)
    @Html.TextAreaFor(m => m.Activity.Id)

    @Html.HiddenFor(m => m.Activity.Sessions)
    @Html.HiddenFor(m => m.Activity.Items)
    @Html.HiddenFor(m => m.Activity.Date)
    @Html.HiddenFor(m => m.Activity.Type)*@





@using (Html.BeginForm("EditActivity", "Activity"))
{
   
    @Html.HiddenFor(m => m.Activity.Id)
    
    @Html.LabelFor(m => m.Activity.Name)
    @Html.TextAreaFor(m => m.Activity.Name)

    @Html.LabelFor(m => m.Activity.Summary)
    @Html.TextAreaFor(m => m.Activity.Summary)


    @Html.LabelFor(m => m.Activity.Description)
    @Html.TextAreaFor(m => m.Activity.Description)


    <div class="control-group">
        <label class="control-label">Typ</label>
        <div class="controls">
            <label class="radio">
                <input name="type" type="radio" value="Träning" checked="checked" />
                Träning</label>
            <label class="radio">
                <input name="type" type="radio" value="Publikt" />
                Publikt</label>
            <label class="radio">
                <input name="type" type="radio" value="Teammöte" />
                Teammöte</label>
            <label class="radio">
                <input name="type" type="radio" value="Sponsor" />
                Sponsor</label>
            <label class="radio">
                <input name="type" type="radio" value="Preliminärt" />
                Preliminärt</label>
        </div>
    </div>

    <input type="submit" />
}






@*@for (var itemIndex = 0; itemIndex < Model.Activity.Items.Count(); itemIndex++)
{
    @Html.TextAreaFor(m => m.Activity.Items.ElementAt(itemIndex).ToString())
}*@

@*@for(var themeIndex = 0; themeIndex < Model.Theme.Count(); themeIndex++)
{
   @Html.LabelFor(model => model.Theme[themeIndex])

   @for(var productIndex=0; productIndex < Model.Theme[themeIndex].Products.Count(); productIndex++)
   {
      @Html.LabelFor(model=>model.Theme[themeIndex].Products[productIndex].name)
      @for(var orderIndex=0; orderIndex < Model.Theme[themeIndex].Products[productIndex].Orders; orderIndex++)
      {
          @Html.TextBoxFor(model => model.Theme[themeIndex].Products[productIndex].Orders[orderIndex].Quantity)
          @Html.TextAreaFor(model => model.Theme[themeIndex].Products[productIndex].Orders[orderIndex].Note)
          @Html.EditorFor(model => model.Theme[themeIndex].Products[productIndex].Orders[orderIndex].DateRequestedDeliveryFor)
      }
   }
}*@
