@model EventBooking.Controllers.ViewModels.EditActivityViewModel

@{
    ViewBag.Title = "Redigera aktivitet";
}




@using (Html.BeginForm("EditActivity", "Activity"))
{
 
    @Html.HiddenFor(m => m.Activity.Id)

        @Html.LabelFor(m => m.Activity.Name)
        @Html.TextAreaFor(m => m.Activity.Name)

        @Html.LabelFor(m => m.Activity.Summary)
        @Html.TextAreaFor(m => m.Activity.Summary)


        @Html.LabelFor(m => m.Activity.Description)
        @Html.TextAreaFor(m => m.Activity.Description)


        <div>
            @foreach (var activityType in Model.ActivityTypes)
            {
                <p>

                    @if (Model.Activity.Type.ToString() == activityType)
                    {
                        @Html.RadioButtonFor(m => m.SelectedActivity, activityType, new { Checked = "checked" }) @activityType
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m.SelectedActivity, activityType)  @activityType
                    }
                </p>
            }
        </div>
    
    <input type="submit" value="Updatera" />
}

