@model IEnumerable<EventBooking.Controllers.ViewModels.ActivityModel>

<ul class="activity-list-short">
    @foreach (var activity in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Activity", new { activity.Id })" class="link" rel="tooltip" data-original-title="@activity.Description">
                <span class="label label-info">@activity.OrganizingTeam</span>
                <span class="activity-date">@activity.DateFormatted</span>
                <span class="activity-name">@activity.Name</span>
            </a>
        </li>
    }
</ul>