@model EventBooking.Controllers.ViewModels.SignedForActivityViewModel
@{
    ViewBag.Title = "WhoHasSignup";
}

<h3>@Model.Name</h3>

<table class="table table-hover">

    <tr>
        <th>Namn</th>
        <th>Från</th>
        <th>Till</th>
        <th>Materiel</th>
    </tr>

    @foreach (var user in Model.Session.SelectMany(s => s.Volunteers))
    {
        <tr>
            <td>@user.Name</td>

            @foreach (var session in user.Sessions.Where(session => session.Activity.Id == Model.Id))
            {
                <td>
                    @session.FromTime
                </td>
                <td>
                    @session.ToTime
                </td>
            }

            <td>
                @foreach (var item in user.Items.Where(item => item.Item.Activity.Id == Model.Id))
                {
                    <span>
                        @item.Item.Name
                        (@item.Quantity),
                    </span>
                }
            </td>
        </tr>
    }

</table>



