@model EventBooking.Controllers.ViewModels.TeamModel
@{
    ViewBag.Title = "ViewTeam";
}

<h2>@Model.Name</h2>
<ul>
@foreach (var volonteer in Model.Volunteers)
{
    <li class="volonteer">
        <h3>@volonteer.Name</h3>
        <p>@volonteer.Email</p>
        <a href="@Url.Action("ExcludeFromTeam", new { id = volonteer.Id })" title="Team admin" class="btn"><i class="icon-check"> </i></a>
        <a href="@Url.Action("ExcludeFromTeam", new { id = volonteer.Id })" title="Ta bort från lag" class="btn btn-danger"><i class="icon-white icon-thumbs-down"> </i></a>  
    </li>  
  }
</ul>
