@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Team Rynkeby</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Sign up", "SignUp", "User")</li>
                            <li>@Html.ActionLink("Sign in", "Checkpoint", "Security")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(User.Identity.Name, "MyProfile", "User")</li>
                            <li>@Html.ActionLink("Skapa event", "Create", "Activity")</li>
                            <li>@Html.ActionLink("Logga ut", "SignOff", "Security")</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/general")
</body>
</html>
