@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("NavigationBar")
        <div class="container-offset">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/pickadate")
        @Scripts.Render("~/bundles/timepicker")
        @Scripts.Render("~/bundles/general")

        @if (IsSectionDefined("scripts"))
        {
            <script type="text/javascript" language="javascript">
                @RenderSection("scripts")
            </script>
        }

        <div id="push"></div>
    </div>
    @Html.Partial("Footer")
</body>
</html>
