<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Team Rynkeby</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Sign up", "SignUp", "User")</li>
                            <li>@Html.ActionLink("Sign in", "Checkpoint", "Security")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(User.Identity.Name, "MyProfile", "User")</li>
                            <li>@Html.ActionLink("Skapa event", "Create", "Activity")</li>
                            <li>@Html.ActionLink("Logga ut", "SignOff", "Security")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
