@using EventBooking.Data

@{
    bool showAdmin = Roles.GetRolesForUser().Any(x => x == UserType.Administrator.ToString() || x.EndsWith("PowerUser"));
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Team Rynkeby</a>

            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Registrera", "SignUp", "User")</li>
                        <li>@Html.ActionLink("Logga in", "Checkpoint", "Security")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(User.Identity.Name, "MyProfile", "User")</li>
                        <li>@Html.ActionLink("Mitt lag", "Details", "Team")</li>
                        <li>@Html.ActionLink("Skapa aktivitet", "Create", "Activity")</li>

                        if (showAdmin)
                        {
                              <li>@Html.ActionLink("Hantera lag", "ViewTeams", "Admin")</li>
                        }

                        <li>@Html.ActionLink("Logga ut", "SignOff", "Security")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
