@model EventBooking.Controllers.ViewModels.QuestionsModel

@{
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.TeamId)
    
    <fieldset>
        <legend>QuestionsModel</legend>

        <table>
            <tr>
                <th>Intervjufrågor</th>
                <th>Träningsfrågor</th>
            </tr>
            @for (int i = 0; i < Model.NumberOfQuestionRows; i++)
            {
                <tr>
                    <td>
                        @Html.LabelFor(m => m.InterviewQuestions[i], "Fråga " + (i+1))
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.InterviewQuestions[i])
                    </td>
                    <td>
                        @Html.LabelFor(m => m.TrainingQuestions[i], "Fråga " + (i+1))
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.TrainingQuestions[i])
                    </td>
                    <td>
                </tr>
            }
        </table>


        <p>
            <input type="submit" value="Spara" />
            <span>@ViewBag.Feedback</span>
        </p>
    </fieldset>
}
